<% if @user.errors.present? %>
  <% @user.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<h2 class="center">Welcome, <%= current_user.first_name %>!</h2>

<p class="center">
  Please enter the phone number from which you will be calling so we can attach the
  recording to your account.
</p>

<%= render partial: "edit_form", locals: {submit_copy: "Add Number"} %>