<% if @user.errors.present? %>
  <% @user.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>


<h2 class="center">Welcome, <%= current_user.first_name %>!</h2>
<%= render partial: "edit_form", locals: {submit_copy: "Update Number"} %>
