<nav>
  <span class="center"><p><%= flash[:phone_number_added] %></p></span>
  <span class="left">
  <%= image_tag("PhoneInterviewMe.png", class: "logo") %>
  </span>
  <span class="right"><h7>Please call (646) 679-2429 to start answering interview questions!</h7></span>
</nav>

<% if !@recordings.empty? %>
<span id="recordings">
<h1>Recordings</h1>
  <% @recordings.each do |recording| %>
<ul>
  <li><%= recording.question.question %></li>
  <li><%= recording.recording %></li>
</ul>
<% end %>
</span>
<% end %>
