<div id="wrapper">
  <div id="welcomebox">
    <h1>Welcome to PhoneInterviewMe</h1>

    <p class="center" id="errors"><%= flash[:auth_failure] %></p>
    <p class="center" id="notice"><%= flash[:log_out] %></p>
    <a href="/auth/linkedin"><span id="bold_link">Login with </span><span id="linked_in">LinkedIn</span></a>
    <p><span id="switch" class="link_like">About this project</span></p>
  </div>
  <div id="about_welcomebox" hidden>
    <h1>About this Project</h1>

    <h6>Phone interviews are commonplace in the tech industry. Interviewees are screened for technical and interpersonal skills before having to travel, which means they can be very important in landing an in-person interview. This app can help the job seeker practice answering phone interview question.</h6>

    <p class="center">This app was created in collaboration with the following awesome people:</p>
    <p class="no_top_bottom_margins">Nathanael Burt</p>
    <p class="no_top_bottom_margins">Kaylee Edmunson</p>
    <p class="no_top_bottom_margins">Seth Musulin</p>
    <p class="no_top_bottom_margins">Emily Platzer</p>
    <p><span id="switch_back" class="link_like">Back to Log in</span></p>
  </div>
</div>
