.recordings_container {
  @include outer-container;
  ul {
    margin: 0;
    padding: 0;
  }
  h2, h3 {
    margin: 0;
  }
}

.recordings_well {
  border-bottom: 1px solid black;
  overflow: hidden;
  li {
    list-style: none;
  }
  h2 {
    margin: .75em 0;
  }
  h3 {
    margin: .5em 0;
  }
  audio {
    margin-bottom: .5em;
  }
}

.comments_form {
  input[type=submit] {
    display: block;
    font-size: 1em;
    margin-bottom: .5em;
  }
  textarea {
    display: block;
    width: 18.7em;
    height: 4em;
    border: 1px solid black;
    margin-bottom: .5em;
  }
}

.comments {
  ul {
    margin-bottom: 1em;
    li {
      margin-bottom: .25em;
    }
  }
}
