/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

html {
  background: url("http://openclipart.org/image/2400px/svg_to_png/183631/communication.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(242, 232, 223, 0.75);
}

html, body {
  height: 100%;
  width: 100%;
}

nav {
  background-color: rgba(242, 232, 223, 0.75);
}

.fade {
  width: 100%;
  height: 100%;
  color: black;
  font-family: 'Great Vibes', 'Helvetica', Helvetica, sans-serif;
  font-size: 2em;
  background-color: rgba(242, 232, 223, 0.90);
  border: none;
  text-align: left;
  overflow: hidden;
}

#wrapper {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

#welcomebox {
  color: black;
  font-family: 'Great Vibes', 'Helvetica', Helvetica, sans-serif;
  font-size: 2em;
  width: 100%;
  background-color: rgba(242, 232, 223, 0.75);
  padding: 10px;
  border: none;
  text-align: center;
}

@media screen and (max-width: 568px) {
  #welcomebox {
    font-size: 1.5em;
  }
}

#welcomebox p {
  margin: 15px 0;
  color: #e66d09;
}

.orange {
  color: #e66d09;
}

a {
  color: #e66d09;
}

a:hover {
  color: #E84F04;
}

#linked_in {
  font-family: 'Oswald', 'Helvetica', Helvetica, sans-serif;
  font-size: .75em;
}

#bold_link {
  font-weight: 700;
}

#errors {
  color: red;
}

#notice {
  color: red;
}

.recordings h1 {
  text-align: center;
  color: black;
  font-family: 'Great Vibes', 'Helvetica', Helvetica, sans-serif;
  font-size: 2em;
}

.recordings li {
  margin-left: 8em;
  color: black;
  font-family: 'Great Vibes', 'Helvetica', Helvetica, sans-serif;
  font-size: 1em;
}

.logo {
  width: 6em;
  margin-left: 1em;
  text-align: left;
}

.right {
  float: right;
  margin-right: 1em;
  margin-top: 0;
  clear: both;
}

.center {
  text-align: center;
  font-size: 1em;
}

.one_third {
  margin-left: 33%;
  font-family: 'Oswald', 'Helvetica', Helvetica, sans-serif;
  font-size: .65em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  margin: 1em;
  font-family: 'Oswald', 'Helvetica', Helvetica, sans-serif;
}

input[type=tel] {
  font-family: 'Oswald', 'Helvetica', Helvetica, sans-serif;
  font-size: .3em;
}

input[type=submit] {
  font-family: 'Oswald', 'Helvetica', Helvetica, sans-serif;
  font-size: .3em;
  background-color: #e66d09;
}

.main_button {
  font-family: 'Oswald', 'Helvetica', Helvetica, sans-serif;
  background-color: #e66d09;
  color: black;
  text-decoration: none;
  padding: 2px 6px 3px;
  border: 2px outset buttonface;
  font-size: .5em;
  &:hover {
    color: black;
  }
}

#switch {
  color: black;
}

#switch_back {
  color: black;
}

#about_welcomebox {
  color: black;
  font-family: 'Great Vibes', 'Helvetica', Helvetica, sans-serif;
  font-size: 2em;
  width: 100%;
  background-color: rgba(242, 232, 223, 0.75);
  padding: 10px;
  border: none;
  text-align: center;
}

.link_like {
}

.no_top_bottom_margins {
  margin: 0;
}

.explain_phone_num {
  font-family: 'Oswald', 'Helvetica', Helvetica, sans-serif;
  font-size: .35em;
  color: black;
  padding: 0 2em 0 1em
}

.user_phone_num {
  padding-bottom: .4em;
}
