/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
html {
    background: url("http://openclipart.org/image/2400px/svg_to_png/183631/communication.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(242, 232, 223, 0.75); }

/*img {*/
    /*opacity: 0.4;*/
    /*filter: alpha(opacity=40); *//* For IE8 and earlier */
/*}*/

html, body {
    height: 100%;
    width: 100%; }

#wrapper {
    position: fixed;
    bottom: 50px;
    width: 100%;
}

#welcomebox {
    color: black;
    font-family: 'Great Vibes', 'Helvetica', Helvetica, sans-serif;
    font-size: 2em;
    width: 100%;
    background-color: rgba(242, 232, 223, 0.75);
    padding: 10px;
    border: none;
    text-align: center;
}

@media screen and (max-width: 568px) {
    #welcomebox {
        font-size: 1.5em;
    }
}

#welcomebox p {
    margin: 15px 0;
    color: #e66d09;
}

#welcomebox a {
    color: #e66d09;
}

#welcomebox a:hover {
    color: #E84F04;
}

#innerwrapper {
    margin: 0 auto;
    width: 100%;
}

#linked_in {
    font-family: 'Oswald', 'Helvetica', Helvetica, sans-serif;
    font-size: .75em;
}

#bold_link {
    font-weight:700;

}
